* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    height: 50px;
    padding-right: 25px;
    background-color: rgba(76, 201, 254, 0.7);
    z-index: 1;
}
.home-icon {
    color: #000;
    font-size: 23px;
    padding: 13px 0 0 25px;
}

/* Search Field */
[type="text"] {
    position: absolute;
    width: 245px;
    height: 30px;
    border-radius: 25px;
    margin: 10px 0 0 25px;
    border: none;
}
.search-icon {
    position: absolute;
    font-size: 15px;
    margin: 18px 0 0 40px;
}
/* Navigation Bar header */
.navbar-header {
    list-style: none;
    float: right;
}
.navbar-header li {
    margin: 15px 25px 0 0;
    display: inline-block;
}
.navbar-header li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
}
.navbar-header li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B8001F;
    opacity: 0;
}
.navbar-header li a:hover:after {
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}
/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.list-dropdown {
    position: absolute;
    width: 150px;
    padding: 5px;
    background-color: #fff;
    top: 130%;
    text-align: center;
    visibility: hidden;
    border: 1px solid #4CC9FE;
    border-radius: 15px;
    margin-bottom: 5px;
    z-index: 2;
}
.list-dropdown li a {
    color: #4CC9FE;
    display: block;
    padding: 10px 0px;
}
.dropdown:hover .list-dropdown {
    visibility: visible;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/background.png);
    background-size: cover;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.hero-content {
    position: absolute;
    width: 55%;
    color: #fff;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.hero-content h2 {
    font-size: 75px;
    text-transform: uppercase;
}
.hero-content p {
    color: #d4d4d4;
    font-size: 14px;
    padding: 12px 0;
    letter-spacing: 2px;
}
.btn-get {
    color: #fff;
    background-color: #4CC9FE;
}
.btn-learn, .btn-get {
    border-radius: 15px;
    padding: 16px;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
}
.btn-learn:hover, .btn-get:hover {
    opacity: 0.3;
}

/* Welcome Section */
.welcome-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}
.wrapper {
    width: 80%;
    text-align: center;
    margin: 40px auto; 
}
.second-item {
    margin: 0px 5%;
}
.section-title {
    margin: 55px 0 10px 0;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}
.section-divider {
    width: 100px;
    border: 2px solid #4CC9FE;
    margin: auto;
}
.feature-card {
    position: relative;
    float: left;
    width: 30%;
    height: 230px;
    text-align: center;
    border: 1px solid #4CC9FE;
    border-radius: 10px;
}
.feature-icon, .feature-title, .feature-description, .feature-link {
    padding-top: 20px;
}
.feature-icon {
    font-size: 30px;
    color: #4CC9FE;
}
.feature-description {
    color: #9e9d9d;
}
.feature-link {
    text-decoration: none;
    display: block;
    color: #4CC9FE;
}
.feature-card:hover .feature-link, .feature-card:hover .feature-icon {
    color: #2697D6;
}
.feature-card:hover .feature-title {
    color: #fff;
}
.feature-card:hover .feature-description {
    color: black;
}
.feature-card::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(76, 201, 254, 0.8);
    border-radius: 10px;
    opacity: 0;
    z-index: -1;
}
.feature-card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

/*  Featured Section  */
.featured-works {
    width: 100%;
    height: 100%;
    background-color: rgba(76, 201, 254, 0.3);
    overflow: auto;
}
.featured-works .section-title {
    margin-top: 40px;
}
.work-item {
    position: relative;
    float: left;
    margin-bottom: 30px;
    width: 30%;
}
.work-item.second-item {
    margin: 0px 3%;
}
.featured-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.work-item:hover .featured-overlay {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
.icon-heart, .icon-pinterest {
    background-color: #fff;
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    padding-top: 7px;
    color: rgb(131, 131, 133);
}
.social-icons a {
    display: inline-block;
    position: relative;
    top: 50px;
}
.category-title {
    color: rgb(181, 181, 184);
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 30px;
}
.description {
    position: relative;
    top: 20px;
}

/* offers Section */
.offer {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.offers .wrapper {
    text-align: left;
}
.offer-item {
    position: relative;
    float: left;
    width: 30%;
    height: 200px;
    margin-bottom: 40px;
    border: 1px solid #4CC9FE;
    padding: 20px 10px 0 55px;
    border-radius: 10px;
}
.icon {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 30px;
    color: #4CC9FE;
}
.text-container {
    display: block;
}
.text-container h2 {
    color: #000;
    margin-bottom: 5px;
}
.text-container p {
    color: #b6b7b8;
}
.offer-item:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(76, 201, 254, 0.8);
    opacity: 0;
    z-index: -1;
}
.offer-item:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 10px;
}
.offer-item:hover p {
    color: black;
}
.offer-item:hover h2, .offer-item:hover .icon {
    color: #2697D6;
}

/* Choose Us Section */
.choose-us-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}
.choose-us-container .wrapper {
    text-align: left;
    margin-top: 100px; 
}
.choose-us-text, .choose-us-image {
    float: left;
    width: 50%;
}
.choose-us-text {
    padding-top: 4cap;
}
.choose-us-image {
    padding-left: 180px;
    text-align: center;
}
.icon-info {
    padding-top: 25px;
    color: #4CC9FE;
}
.choose-us-heading {
    text-transform: capitalize;
    font-size: 40px;
}
.choose-us-divider {
    width: 75px;
    border: 2px solid #4CC9FE;
    margin-top: 10px;
}
.choose-us-description {
    color: rgb(204, 204, 204);
    padding-top: 40px;
}
.choose-us-list-ul {
    list-style: none;
    padding-top: 30px;
}
.choose-us-list-ul li {
    margin-bottom: 15px;
    color: rgb(154, 154, 154);
}
.choose-us-bullet li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px 5px;
    display: inline-block;
    background-color: rgb(154, 154, 154);
}
.choose-us-bullet li:hover, .choose-us-bullet li.active {
    background-color: #4CC9FE;
}

/* Achievements Section */
.achievements-section {
    position: relative;
    width: 100%;
    height: 60%;
    background-image: url(../images/achievements.png);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 100px;
}
.achievements-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.achievements-items {
    margin: auto;
    padding-top: 150px;
    width: 75%;
}
.achievement-item {
    float: left;
    width: 24%;
    text-align: center;
}
.achievement-icon {
    color: #4CC9FE;
    margin-bottom: 20px;
    font-size: 40px;
}
.achievement-title, .achievement-text {
    color: #fff;
}

/* Product Pricing Section */
.product-pricing-section {
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}
.product-item {
    position: relative;
    width: 30%;
    padding: 30px 15px;
    border: 1px solid #4CC9FE;
    border-radius: 10px;
    float: left;
    transition: 0.5s;
}
.product-name {
    text-transform: uppercase;
    color: #000;
}
.price-details {
    width: 100px;
    height: 100px;
    border: 2px solid #4CC9FE;
    border-radius: 50%;
    margin: 20px auto;
    padding: 12px 0;
}
.price-amount {
    font-size: 35px;
}
.price-unit {
    text-transform: uppercase;
}
.product-description {
    list-style: none;
    text-transform: capitalize;
}
.product-description li {
    padding: 10px 0;
}
.purchase-button {
    width: 170px;
    height: 30px;
    border: 2px solid #4CC9FE;
    margin-top: 10px;
    border-radius: 10px;
    text-transform: capitalize;
}
.product-item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(76, 201, 254, 0.8);
    border-radius: 10px;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
.product-item:hover:after {
    height: 100%;
    opacity: 0.5;
}
.product-item:hover .price-details {
    border-color: #2697D6;
}
.product-item:hover .product-name {
    color: #2697D6;
}

/* About Section */
.about-section {
    width: 100%;
    height: 400px;
    background-image: url(../images/aboutbg.png);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    margin-top: 140px;
}
.about-section-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.about-container {
    width: 80%;
    margin: auto;
}
.about-content {
    margin: auto;
    width: 90%;
    height: 100%;
    overflow: auto;
}
.about-member {
    width: 50%;
    height: 100%;
    float: left;
}
.about-member-info {
    position: relative;
    text-transform: capitalize;
    padding: 130px 40px 10px 150px;
    line-height: 1.5;
}
.about-member-info img {
    position: absolute;
    border-radius: 50%;
    left: 50px;
    top: 120px;
}
.about-member-description {
    margin: 0 50px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #fff;
}
.about-member-info h3 {
    font-size: 30px;
    color: #fff;
}
.about-member-info span {
    color: #4CC9FE;
    font-size: 24px;
}
.team-title {
    padding-top: 120px;
}

/* staff Section  */
.team-section {
    width: 100%;
    height: 100%;
}
.team-member {
    position: relative;
    width: 30%;
    padding: 18px 14px;
    background-color: #D4EBF8;
    border-radius: 10px;
    float: left;
    transition: 0.5s;
}
.team-member-image {
    width: 80%;
    margin: auto;
    position: relative;
}
.team-member-image img {
    width: 100%;
}
.team-social-links {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}
.team-social-links a {
    width: 40px;
    height: 40px;
    display: block;
    color: #fff;
    background-color: #4CC9FE;
    margin-left: auto;
}
.team-social-links a i {
    line-height: 50px;
}
.team-member-name {
    text-transform: capitalize;
    color: #000;
    line-height: 50px;
}
.team-member-role {
    text-transform: uppercase;
    color: rgb(167, 167, 167);
}
.team-member:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(76, 201, 254, 0.7);
    transition: 0.5s;
    opacity: 0.5;
    border-radius: 10px;
}
.team-member:hover .team-member-name {
    color: #767676;
}
.team-member:hover .team-member-role {
    color: #000000;
}
.team-member:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}
.team-member:hover .team-social-links {
    visibility: visible;
}

/* staff Section  */
.staff-section {
    width: 80%;
    margin: -150px auto auto auto;
}
.staff-list {
    margin-top: 50px;
    overflow: auto;
}
.staff-member {
    position: relative;
    width: 30%;
    text-align: center;
    height: auto;
    float: left;
    border: 1px solid rgb(76, 201, 254);
    border-radius: 10px;
    padding-bottom: 15px;
}
.staff-info ul {
    list-style: none;
}
.staff-info ul li {
    display: inline-block;
    margin-right: 15px;
    margin-top: 25px;
}
.staff-info h3 {
    margin: 15px 0;
}
.staff-info p {
    margin-bottom: 25px;
    color: rgb(167, 167, 167);
}
.staff-member img {
    border-radius: 10px;
    margin-top: 20px;
}
.staff-member:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(76, 201, 254, 0.5);
    transition: .5s;
    opacity: .5;
    border-radius: 10px;
    z-index: -1;
}
.staff-member:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: .5s;
}
.staff-member:hover h3 {
    color: #767676;
}
.staff-member:hover .staff-info ul {
    color: rgb(0, 42, 255);
}
.staff-member:hover .staff-info p {
    color: rgb(0, 0, 0);
}
.info-link {
    color: rgb(76, 201, 254);
}
.read-more-link {
    text-decoration: none;
    text-transform: lowercase;
}

/* footer Section */
.footer {
    width: 100%;
    background-color: #bcebfe;
    padding: 20px 0px;
    margin-top: 100px;
    margin-bottom: 0;
}
.content-footer {
    margin: auto;
    height: 300px;
    width: 40%;
    text-align: center;
}
.img-footer, .img-footer img {
    width: 250px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
}
.img-footer {
    height: 30%;
}
.ul-footer {
    margin-top: 130px;
}
.ul-footer ul {
    list-style: none;
}
.ul-footer ul li {
    display: inline-block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #4CC9FE;
    color: #fff;
    font-size: 30px;
    padding-top: 11px;
    position: relative;
}
.ul-footer p {
    font-size: 13px;
    text-transform: uppercase;
    color: rgb(155, 155, 155);
    padding-top: 10px;
}
.ul-footer ul li:hover {
    background-color: #2697D6;
    transition: 0.5s;
}
