* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header */
.header{
    position:fixed ;
    width: 100%;
    height: 50px;
    padding-right: 25px;
    background-color: rgba(76, 201, 254, 0.7); 
    z-index: 1;
}
.home-icon{
    color: #000;
    font-size: 23px;
    padding: 13px 0 0 25px;
}

/* Search Field */
[type="text"]{
    position: absolute;
    width:245px ;
    height: 30px;
    border-radius: 25px;
    margin: 10px 0 0 25px;
    border: none;
}
.search-icon{
    position: absolute;
    font-size: 15px;
    margin: 18px 0 0 40px;
}

/* Navigation Bar header */
.navbar-header{
    list-style: none;
    float: right;
}
.navbar-header li{
    margin: 15px 25px 0 0; 
    display: inline-block;
}
.navbar-header li a {
    position: relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 5px;
}
.navbar-header li a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B8001F;
    opacity: 0;
}
.navbar-header li a:hover:after {
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.list-dropdown {
    position: absolute;
    width: 150px;
    padding: 5px;
    background-color: #fff;
    top: 130%;
    text-align: center;
    visibility: hidden;
    border: 1px solid #4CC9FE;
    border-radius: 15px;
    margin-bottom: 5px;
    z-index: 2;
}
.list-dropdown li a {
    color: #4CC9FE;
    display: block;
    padding: 10px 0px;
}
.dropdown:hover .list-dropdown {
    visibility: visible;
}


/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100%; 
    background-image: url(../images/background.png);
    background-size: cover;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
 }
 .hero-content {
    position: absolute;
    width: 55%;
    color: #fff;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.hero-content h2 {
    font-size: 75px;
    text-transform: uppercase;
}
.hero-content p {
    color: #d4d4d4;
    font-size: 15px;
    padding: 12px 0;
    letter-spacing: 2px;
}
.btn-get {
    color: #fff;
    background-color: #4CC9FE;
}
.btn-learn, .btn-get {
    border-radius: 15px;   
    padding: 16px;         
    border: none;            
    font-size: 18px;
    text-transform: capitalize; 
}
.btn-learn:hover, .btn-get:hover {
    opacity: 0.3;
}


/* Welcome Section */
.welcome-container {
    overflow: auto;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}
.section-title {
    margin: 55px 0 10px 0;
    font-size: 40px;
    text-align: center;
}
.section-divider {
    width: 100px;
    border: 2px solid #4CC9FE;
    margin: auto;
}
.feature-card {
    position: relative;
    float: left;
    width: 330px;
    height: 230px;
    margin: 80px 0 0 100px;
    text-align: center;
    border: 1px solid #4CC9FE;
    border-radius: 10px;
}
.feature-icon, .feature-title, .feature-description, .feature-link {
    padding-top: 20px;
}
.feature-icon {
    font-size: 30px;
    color: #4CC9FE;
}
.feature-description {
    color: #9e9d9d;
}
.feature-link {
    text-decoration: none;
    display: block;
    color: #4CC9FE;
}
.feature-card:hover .feature-link, .feature-card:hover .feature-icon {
    color: #2697D6;
}
.feature-card:hover .feature-title {
    color: #fff;
}
.feature-card:hover .feature-description {
    color: black;
}
.feature-card::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(76, 201, 254, 0.8);
    opacity: 0;
    z-index: -1;
}
.feature-card:hover::after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}


/*  Featured Section  */
.featured-works {
    width: 100%;
    height: 100%;
    background-color: rgba(76, 201, 254, 0.3);
    overflow: auto;
}
.work-items {
    margin: 50px 0 0 200px;
    text-align: center;
}
.work-item {
    position: relative;
    float: left;
    margin: 20px;
    text-align: center;
}
.featured-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .1s;
    color: #fff;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}
.work-item:hover .featured-overlay {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}
.icon-heart, .icon-pinterest {
    background-color: #fff;
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    padding-top: 7px;
    color: rgb(131, 131, 133);
}
.social-icons a {
    display: inline-block;
    position: relative;
    top: 50px;
}
.category-title {
    color: rgb(181, 181, 184);
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 30px;
}
.description {
    position: relative;
    top: 20px;
}


/* offers Section */
.offer {
    width: 100%;
    height: 100%;    
    overflow: auto;
}
.offer-items {
    margin: 10px 0px 0px 100px;
    display: inline-block;
}
.offer-item {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 20px 50px;
    border: 1px solid #4CC9FE;
    padding: 20px 10px 0 55px;
    border-radius: 10px;
}
.icon {
    position: absolute;
    top: 20px;
    left: 10px ;
    font-size: 30px;
    color: #4CC9FE;
}
.text-container {
    display: block;
}
.text-container h2 {
    color: #000;
    margin-bottom: 5px;
}
.text-container p {
    color: #b6b7b8;
}
.offer-item:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(76, 201, 254, 0.8);
    opacity: 0;
    z-index: -1;
}
.offer-item:hover::after{
    width: 300px;
    height: 200px;
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 10px;
}
.offer-item:hover p{
    color: black;
}
.offer-item:hover h2, .offer-item:hover .icon {
    color: #2697D6;
}

/* Choose Us Section */
.choose-us-container {
    width: 100%;
    height: 100%;
    margin: auto;
}
.choose-us-parent {
    margin: 130px;
}
.choose-us-text, .choose-us-image {
    float: left;
    width: 50%;
}
.choose-us-image {
    padding-left: 180px;
    text-align: center;
}
.icon-info {
    padding-top: 25px;
    color: #4CC9FE;
}
.choose-us-heading {
    text-transform: capitalize;
    font-size: 40px;
}
.choose-us-divider {
    width: 75px;
    border: 2px solid #4CC9FE;
    margin-top: 10px;
}
.choose-us-description {
    color: rgb(204, 204, 204);
    padding-top: 40px;
}
.choose-us-list-ul {
    list-style: none;
    padding-top: 30px;
}
.choose-us-list-ul li {
    margin-bottom: 15px;
    color: rgb(154, 154, 154);
}
.choose-us-bullet li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px 5px;
    display: inline-block;
    background-color: rgb(154, 154, 154);
}
.choose-us-bullet li:hover, .choose-us-bullet li.active {
    background-color: #4CC9FE;
}

/* Achievements Section */
.achievements-section {
    position: relative;
    width: 100%;
    height: 60%;
    background-image: url(../images/achievements.png);
    background-size: cover;
    background-attachment: fixed;
}
.achievements-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.achievements-items {
    margin: auto;
    padding-top: 150px;
    width: 75%;
}
.achievement-item {
    float: left;
    width: 240px;
    margin-right: 20px;
    text-align: center;
}
.achievement-icon {
    color: #4CC9FE;
    margin-bottom: 20px;
    font-size: 40px;
}
.achievement-title, .achievement-text {
    color: #fff;
}